{% extends "pages/layout.html" %}
{% load static %}

{% block content %}
    <div "container d-flex justify-content-center pt-5">
        <div class="container">
            <div class="d-flex justify-content-center pt-5">
                <h1>
                    <strong>
                        My Calendar Events
                    </strong>
                </h1>
                
            </div>
            <div class="d-flex justify-content-center pt-2">
                <a href="{% url 'events:add_item'%}">
                    <button>Add an Event</button>
                </a>
            </div>
        </div>
        {% if events %}
        <div class="container d-flex justify-content-center pt-2">
            <ul style="list-style-type:none">
                <!--Using a new feature Justin showed me, dictsort, allows to sort the data based on key-->
                {% for item in events|dictsort:"starts_at" %}
                <li>
                    <h4>[<a href="{% url 'events:update_item' item.id%}">{{item.id}}</a>]  Start: {{item.starts_at}} -- Event: {{item.name}} -- {{item.description}} -- End: {{item.ends_at}}</h4>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
{% endblock %}